$border : 1px solid #ddd;
$chessBackgroundColor: #121212;
$chessColor: #efefef;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "icons";
@import "buttons";
html,body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  flex: 12;
  font-size: 2em;
  line-height: 1.5em;
  //min-width of device, layout looks shit if min-width doesn't fit
  min-width: 930px;
  width: 100%;
  /*@media screen and (prefers-color-scheme: light) {
    color: #121212;
    background-color: #ededed;
  }*/

  &.dark{
    background-color: #121212;
    color: #efefef;
    .navbar{
      background-color: #323232;
      width: 100%;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
  }
  &.light{
    color: #010101;
    background-color: #ededed;
    .navbar{
      background-color: #cdcdcd;
      width: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
  }
}
.wrapper{
  flex: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 1rem 5%;
  font-size: 1em;
}
.row{
  display: flex;
  flex: 1;
  width: 100%;
  margin-left: 0;
}
ul{
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden{
  visibility: hidden;
}
.show{
  visibility: visible;
}
div>a.nav-item{
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
  margin: 5px 20px;
  flex: min-content;
}
a.nav-item:visited{
  color: inherit;
}
#clock{
  //color:lightgreen;
  //text-shadow: 0 0 4px #ffff00;

  color: #aaaaff;
  text-shadow: 0 0 4px #cc00ff;
  right: 0;
  padding: 5px;
  margin: 2px 2px 2px auto;
}
.active{
  display: inline-block!important;
}
.bg-mode-icon{
  display: none;
}

//chess
$chessBlack:#9999ee;
$chessWhite:#ededed;

.mh-5 >i{
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
#chessWrapper{
  display: flex;
  flex: 6;
  width: 100%;
  & .chess_white{
    color: $chessWhite;
  }
  & .chess_black{
    color: $chessBlack;
    transform: rotate(180deg);
  }
}
#chessRightSiteBar{
  background-color: $chessBackgroundColor;
  width: 15rem;
  margin-left: 1rem;
  margin-right: auto;
  height: 45rem;
  .StatsPanel{
    height: 80%;
    #chessInfos{
      text-align: center;

    }
  }
  .deadWhiteChessPieces, .deadBlackChessPieces{
    font-size: 2.5rem;
    word-break: break-all;
    min-height: 10%;
  }
  #deadWhiteChessPieces{
    .fas{
      transform: rotate(180deg);
    }
    .fa-khanda{
      color:$chessBlack;
      font-size: 1.5rem;
      margin-top: auto;
      vertical-align: middle;

    }
    color: $chessWhite;
  }
  #deadBlackChessPieces{
    .fa-khanda{
      color:$chessWhite;
      margin-top: auto;
      vertical-align: middle;
      font-size: 1.5rem;
    }
    color: $chessBlack;
  }
}
#chess_layout{
  background-color: #121212;
  border-collapse: collapse;
  border: $border;
  font-size: 3rem;
  width: 46.8rem;
  padding-top: 100%;
  position: relative;
  height: 45rem;
  //margin-right: auto;
  margin-left: auto;
  min-width: 310px;
  .chess_row{
    border: $border;
    width: 100%;
    height: 100%;
  }
  .chess_col{
    border: $border;
    padding: 5px;
    width: 5.2rem;
    height:5rem;
    text-align: center;
  }
  .cords{
    color: #aab;
  }
  .nextLoc{
    background-color: rgba(144,238,144, 0.7);
    border-radius: 30%;
  }
}
.chess_black_Color{
  color: $chessBlack;
}

.lightbox {
 display: none;
  position: fixed;
  z-index: 999;
  color: yellow;
  font-size: 8rem;

  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.lightbox > div {
  position: absolute;
  max-width: 90%;
  min-width: 620px;
  padding: 1rem;
  background-color: rgba(0,0,0,0.6);
}

.lightbox:target {
  outline: none;
  display: block;
}
#chessLightbox a{
  align-items: center;
  justify-items: center;
  padding: 1rem;
}
.chessShow{
  display: block;
}
#chessWinningPanel{
  background-color: $chessBackgroundColor;
  z-index: 3;

}


//ageCalculator
#ageClock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &>div{
    font-size: 5rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    padding:0.5rem;
    line-height: 5rem;
    //color: #aaaaff;
    //text-shadow: 5px 5px 4px rgba(204, 0, 255, 0.6);
    color: #a9a9ff;
    text-shadow: 0 0 12px rgba(204, 0, 255, 1);
  }
}
body.light{
  #ageClock{
    &>div{
      color: #212121;
      text-shadow: 0 0 12px rgb(0, 1, 4);
    }
  }
}

