$border : 1px solid #ddd;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "icons";
@import "buttons";

body{
  font-size: 2em;
  line-height: 1.5em;
  /*@media screen and (prefers-color-scheme: light) {
    color: #121212;
    background-color: #ededed;
  }*/

  &.dark{
    background-color: #121212;
    color: #ededed;
  }
  &.light{
    color: #121212;
    background-color: #ededed;
  }
}
.wrapper{

  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1em;
}
.row{
  display: flex;
  flex: 12;
  width: 100%;
}
ul{
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden{
  visibility: hidden;
}
.show{
  visibility: visible;
}
div>a.nav-item{
  text-decoration: none;
  color: silver;
  opacity: 0.2;
  margin: 5px 20px;
  flex: min-content;
}
a.nav-item:visited{
  color: inherit;
}
#clock{
  //color:lightgreen;
  //text-shadow: 0 0 4px #ffff00;

  color: #aaaaff;
  text-shadow: 0 0 4px #cc00ff;
  right: 0;
  padding: 5px;
  margin: 2px 2px 2px auto;
}
.active{
  display: inline-block!important;
}
.bg-mode-icon{
  display: none;
}

//chess
$chessBlack:#9999ee;
$chessWhite:#ededed;

.mh-5 >i{
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
#chessWrapper{
  display: flex;
  flex: 6;
  width: 100%;

}
#chessRightSiteBar{
  width: 15rem;
  margin-left: 1rem;
  margin-right: auto;
  //background-color: #0056b3;
  color: #ffc107;
  height: 45rem;
  .StatsPanel{
    height: 80%;
    background-color: darkblue;
  }
  .deadWhiteChessPieces, .deadBlackChessPieces{
    font-size: 2.5rem;
    word-break: break-all;
    min-height: 10%;
  }
  .deadWhiteChessPieces{
    .fas{
      transform: rotate(180deg);
    }
    .fa-khanda{
      color:$chessBlack;
      font-size: 1.5rem;
      margin-top: auto;
      vertical-align: middle;

    }
    color: $chessWhite;
  }
  .deadBlackChessPieces{
    .fa-khanda{
      color:$chessWhite;
      margin-top: auto;
      vertical-align: middle;
      font-size: 1.5rem;
    }
    color: $chessBlack;
  }
}
#chess_layout{

  border-collapse: collapse;
  border: $border;
  font-size: 3rem;
  width: 46.8rem;
  padding-top: 100%;
  position: relative;
  height: 45rem;
  //margin-right: auto;
  margin-left: auto;
  min-width: 310px;
  .chess_row{
    border: $border;
    width: 100%;
    height: 100%;
  }
  .chess_col{
    border: $border;
    padding: 5px;
    width: 5.2rem;
    height:5rem;
    text-align: center;
    &>.chess_black{
      color: $chessBlack;
      transform: rotate(180deg);
    }
    &>.chess_white{
      color: $chessWhite;
    }
  }
  .cords{
    color: #aab;
  }
  .nextLoc{
    background-color: rgba(144,238,144, 0.7);
    border-radius: 30%;
  }
}

.lightbox {
  /** Default lightbox to hidden */
  //display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  color: yellow;
  font-size: 10rem;

  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox div {
  /** Pad the lightbox image */
  max-width: 90%;
  height: 30rem;
  width: 40rem;

  background-color: #6c757d;
  margin: 2% auto auto;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}
